/////////////////////////////////////////////////////////////////////////////////
// GLOBAL                                                                      //
/////////////////////////////////////////////////////////////////////////////////

#app {
    display: block;
    width: 100%;
    height: 100%;
}

main {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 0;
}


/////////////////////////////////////////////////////////////////////////////////
// BACKGROUND MAP                                                              //
/////////////////////////////////////////////////////////////////////////////////

main #background-map {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
}


/////////////////////////////////////////////////////////////////////////////////
// FLOATING CARD                                                               //
/////////////////////////////////////////////////////////////////////////////////

main #floating-card-container {
    display: grid;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
}

#floating-card-container #floating-card {
    display: block;
    width: 25%;
    height: auto;
    margin: auto auto auto 10%;
    pointer-events: auto;
}

#floating-card .content {
    margin-bottom: 1rem;
}

#floating-card .content:last-child {
    margin-bottom: 0;
}

#floating-card .content .header {
    margin-bottom: 0.5rem;
}

#floating-card .content .form > * {
    margin-bottom: 0.5rem;
}

#floating-card .content .form > *:last-child {
    margin-bottom: 0;
}
