/////////////////////////////////////////////////////////////////////////////////
// GLOBAL                                                                      //
/////////////////////////////////////////////////////////////////////////////////

#app {
    display: block;
    width: 100%;
    height: 100%;
}

main {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 0;
}


/////////////////////////////////////////////////////////////////////////////////
// BACKGROUND MAP                                                              //
/////////////////////////////////////////////////////////////////////////////////

main #background-map {
    display: block;
    width: 100%;
    height: 100%;
    z-index: 1;
}


/////////////////////////////////////////////////////////////////////////////////
// FLOATING CARD                                                               //
/////////////////////////////////////////////////////////////////////////////////

main #floating-card-container {
    display: grid;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    pointer-events: none;
}

#floating-card-container #floating-card {
    display: block;
    width: 25%;
    height: auto;
    margin: auto auto auto 10%;
    pointer-events: auto;
}

#floating-card .card-content {
    margin-bottom: 1rem;
}

#floating-card .card-content:last-child {
    margin-bottom: 0;
}

#floating-card .card-content form > * {
    margin-bottom: 0.5rem;
}

#floating-card .card-content form > *:last-child {
    margin-bottom: 0;
}


/////////////////////////////////////////////////////////////////////////////////
// FIND ROUTE BLOCK                                                            //
/////////////////////////////////////////////////////////////////////////////////

.find-route-block-option .route-code {
    display: inline-block;
    width: 1.3rem;
    text-align: center;
}

.find-route-block-option .route-name {
    display: inline-block;
    margin-left: 1rem;
}
